body {
  background: url('./images/cloudyday.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  padding-bottom: 75px;
}

.clearDay {
  background: url('./images/cleardayclouds.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  padding-bottom: 75px;
}
.clearNight {
  background: url('./images/cleareveningsky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  padding-bottom: 75px;
}
.rainyDay {
  background: url('./images/rain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  padding-bottom: 75px;
}
.snowyday {
  background: url('./images/snowyday.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  padding-bottom: 75px;
}
.overcast {
  background: url('./images/overcast.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  padding-bottom: 75px;
}
.darkClouds {
  background: url('./images/storm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  padding-bottom: 75px;
}