.search-bar {
  margin-bottom: 10px;
}
.bar {
  display: inline-block;
}

.search {
  border-radius: 20px;
  padding-left: 25px;
  background: rgba(231, 231, 231, 0.5);

  border: solid 0.5px #2f364e;
  height: 43px;
}
.icons {
  display: inline-block;
  padding-left: 10px;
}
.fabutton {
  display: inline-block;
  background: none;
  padding: 10px;
  border: none;
  font-size: 20px;
  color: #2f364e;
}
button i:hover,
small a:hover {
  transition: 0.25s ease-in-out;
  color: rgba(155, 153, 153, 1);
}
